.git
.gitignore
.env
.env.prod
.env.prod-db
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.python-version
.pdm-python
venv/
.venv/
logs/
nginx/
README.md
