{% extends 'base.html' %}

{% block title %}{{ course.title }}
  | 스킬브릿지{% endblock %}

{% block content %}
  <!-- 과정 개요 헤더 -->
  {% include 'courses/course_detail/header.html' %}

  <!-- 탭 네비게이션 및 내용 -->
  <div class="container mx-auto px-4 py-6">
    <div class="max-w-5xl mx-auto">
      <!-- 탭 네비게이션 -->
      {% include 'courses/course_detail/tab_nav.html' %}

      <!-- 탭 내용 -->
      {% include 'courses/course_detail/curriculum.html' %}
      {% include 'courses/course_detail/info.html' %}
      {% include 'courses/course_detail/reviews.html' %}
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <!-- 추가 JS 코드 구현시 여기에 작성 가능 -->
{% endblock %}
